<section class="container text-center" id="login-container">
     <h2>Admin Login</h2>
    <p>Username: admin</p>
    <p>Password: admin</p>
  <form class="container text-center" action="/auth/login" method="POST" id="form">
    <input placeholder="Username" type="text" name="username">
    <input placeholder="Password" type="password" name="password">

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button class="btn btn-success" type="submit">Sign in</button>

  </form>
</section>