<a href="/auth/private">Admin page</a>
<a href="/auth/logout">Logout</a>
<h1>Setting page</h1>

<!-- BOOKINGS -->
{{#each config}}
<form action="/admin/config" method="POST">
Max Seats available<input id="maxSeats" type="number" name="maxSeats" value={{maxSeats}} required>
First time slot<input id="first-time-slot" type="number" name="_1Slot" value={{_1Slot}} required>
Second time slot<input id="second-time-slot" type="number" name="_2Slot" value={{_2Slot}} required>
<button>Update</button>
</form>
{{/each}}



<!-- UNAVAILABLE DATES -->
<h3>Unavailable dates</h3>

<ul id="unavailable-dates-container">
 
</ul>



<form action="/admin/settings/unavailable-dates/edit" method="POST">
<input type="text" name="newUnavailableDate" placeholder="day-month-year">
<button>Add  dates</button>
</form>




<form action="/admin/settings/unavailable-dates/delete" method="POST">
<input type="text" name="deleteUnavailableDate" placeholder="day-month-year">
<button>Delete  dates</button>
</form>







 
