<h1>BookYourTable</h1>

<form id="book-form" action="/complete-booking">

  <p>Datepciker: <input type="text" id="datepicker" name="date"></p>
  {{!-- <p id="query-response-first-slot"></p>
  <p id="query-response-second-slot"></p> --}}
     
     <div id="time-select">  
    Time: <input type="hidden" id="time" name="time" value="">
    <span></span>
    <ul class="display">
      <li id="first-slot-li">20.00<p></p></li>
      <li id="second-slot-li">22.00<p></p></li>
    </ul>
    </div>
 
    
  <p>People: <input type="number" id="people" name="people"></p>


  <button type="submit" id="proceed-button">Proceed</button>

<form>



