<h1>BookYourTable</h1>

<form id="book-form" action="/complete-booking">

  <p>Datepciker: <input type="text" id="datepicker" name="date"></p>


  <div id="time-select">
    Time: <input type="hidden" id="time" name="time" value="">
    <span></span>
    <ul class="display">
      <div id="first-slot-li">
        <span></span>
        <p></p>
      </div>
      <div id="second-slot-li">
        <span></span>
        <p></p>
      </div>

    </ul>
  </div>


  <p>People: <input type="number" id="people" name="people"></p>


  <button type="submit" id="proceed-button">Proceed</button>

  <form>