
<section id="preview-section" class="text-center">
  <a class="my-button" id="contact-button" href="mailto: carucciguido@gmail.com">Contact us</a>
  <div class="container" id="preview-wrapper">
    <h3>Boost Your Reservations</h3>
    <h1><em>The </em> <span>BOOKING SYSTEM</span><br> FOR YOUR RESTAURANT</h1>
    <p id="subtitle-preview">We believe managing reservations should be simple.</p>
  
   <div id="buttons-wrapper">
      <a id="user-demo-btn" class="my-button" href="/">User Demo</a>
      <a id="admin-demo-btn" class="my-button" href="/auth/login">Admin Demo</a>
    </div>

  </div>
</section>
