body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.highlight a{
  background-color: #29f274 !important;
  color: #ffffff !important;
  
}


#time-select{
  border:1px solid #f7f7f7;
  cursor: pointer
}

.display{
display: none
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}